body {
    background-color: red;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.container {
    width: 60%;
    border-radius: 20px;
    background: #fff;
    margin-top: 50px;
    padding: 20px;
}