body{
    margin: 0;
    padding: 0;
    background-color: yellow;
    justify-content: center;
    display: flex;
}

label{
    display: block;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
    width: 60%;
}

.rows{
    background-color: aqua;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;   
}